In [1]:
# Load libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [131]:
# Find path
PARENT = "uds-2022-ids-701-team-10"
path_cali = Path(PARENT).parent / "../00_source_data/listings_california.csv.gz"
path_flor = Path(PARENT).parent / "../00_source_data/listings_florida.csv.gz"

In [132]:
# Load datasets
listing_flor = pd.read_csv(path_flor)
listing_cali = pd.read_csv(path_cali)

In [133]:
listing_flor.head(5)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,57818,https://www.airbnb.com/rooms/57818,20211223224458,2021-12-24,Private house close to the beach!,Beautifully private duplex that allows you to ...,Check-in window<br />After 3:00 PM<br />Edit<b...,https://a0.muscache.com/pictures/347696/9d5168...,275948,https://www.airbnb.com/users/show/275948,...,4.96,4.88,4.70,NaN,f,1,1,0,0,0.51
1,69824,https://www.airbnb.com/rooms/69824,20211223224458,2021-12-24,2 bd/2ba Oceanfront Condo,<b>The space</b><br />Beautiful and meticulous...,NaN,https://a0.muscache.com/pictures/443102/f6b94e...,351303,https://www.airbnb.com/users/show/351303,...,4.00,5.00,4.00,NaN,f,2,2,0,0,0.04
2,83449,https://www.airbnb.com/rooms/83449,20211223224458,2021-12-24,MARY POP APTS 2/1 APT SLEEP 5,MARY POP APARTMENTS 1&2 BEDROOM SUITES ACCOMMO...,NaN,https://a0.muscache.com/pictures/13dd4c7e-4914...,454736,https://www.airbnb.com/users/show/454736,...,4.89,4.79,4.89,NaN,f,8,8,0,0,0.16
3,105411,https://www.airbnb.com/rooms/105411,20211223224458,2021-12-24,House in the Ranches,Close to Cleveland Clinic Hospital and mayor h...,"Very close to I75, one of the main highways. Y...",https://a0.muscache.com/pictures/787317/2cc18e...,532930,https://www.airbnb.com/users/show/532930,...,5.00,4.25,5.00,NaN,f,1,1,0,0,0.04
4,129061,https://www.airbnb.com/rooms/129061,20211223224458,2021-12-24,MIAMI - LUXURY APARTMENT OVER BEACH,<b>The space</b><br />The apartment is located...,NaN,https://a0.muscache.com/pictures/828456/8efef9...,637272,https://www.airbnb.com/users/show/637272,...,5.00,4.61,4.50,NaN,f,6,6,0,0,0.14

In [134]:
listing_cali.sample(5)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
3771,8669517,https://www.airbnb.com/rooms/8669517,20211205213202,2021-12-06,Chill Pad Deluxe,"This room is the raddest of the paddest, a mus...",NaN,https://a0.muscache.com/pictures/6abdc121-d67e...,27375372,https://www.airbnb.com/users/show/27375372,...,5.00,3.00,3.67,NaN,f,1,0,1,0,0.04
13609,29563536,https://www.airbnb.com/rooms/29563536,20211205213202,2021-12-06,Beautiful Venice Home with amazing yard,"Light, bright and airy, entire 2BR house with ...",NaN,https://a0.muscache.com/pictures/99068041-6866...,3388698,https://www.airbnb.com/users/show/3388698,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.08
10943,23774317,https://www.airbnb.com/rooms/23774317,20211205213202,2021-12-06,"Perfect Location, Walk Anywhere.","Private Bedroom and Bathroom.<br />Very clean,...",NaN,https://a0.muscache.com/pictures/a6481b91-7ad4...,109504192,https://www.airbnb.com/users/show/109504192,...,5.00,5.00,5.00,NaN,f,2,1,1,0,0.09
25870,49264095,https://www.airbnb.com/rooms/49264095,20211205213202,2021-12-07,"316CL - Spacious 4 bdr House , Quick walk to B...","Newly updated and spacious 4 bedroom, 2.5 bath...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,271118401,https://www.airbnb.com/users/show/271118401,...,4.83,5.00,4.50,NaN,t,121,121,0,0,1.01
11440,24734301,https://www.airbnb.com/rooms/24734301,20211205213202,2021-12-06,Large 1bd Loz Feliz | Vintage Hollywood Getaway,Very spacious and bright 800 sq ft. 1bd 1ba ap...,"Walking distance to markets, shops, dining and...",https://a0.muscache.com/pictures/f65d9cde-fb11...,113087174,https://www.airbnb.com/users/show/113087174,...,4.75,4.75,4.25,NaN,t,1,1,0,0,0.27

In [135]:
# List unecessary columns
columns_to_be_dropped = [
    "id",
    "listing_url",
    "scrape_id",
    "name",
    "description",
    "neighborhood_overview",
    "picture_url",
    "host_url",
    "host_name",
    "host_location",
    "host_about",
    "host_thumbnail_url",
    "host_picture_url",
    "host_neighbourhood",
    "host_listings_count",
    "host_verifications",
    "neighbourhood",
    "neighbourhood_cleansed",
    "neighbourhood_group_cleansed",
    "latitude",
    "longitude",
    "property_type",
    "bathrooms",
    "minimum_nights",
    "maximum_nights",
    "minimum_minimum_nights",
    "maximum_minimum_nights",
    "minimum_maximum_nights",
    "maximum_maximum_nights",
    "maximum_nights_avg_ntm",
    "calendar_updated",
    "availability_30",
    "availability_60",
    "availability_90",
    "calendar_last_scraped",
    "number_of_reviews",
    "number_of_reviews_l30d",
    "first_review",
    "last_review",
    "license",
    "calculated_host_listings_count_entire_homes",
    "calculated_host_listings_count_private_rooms",
    "calculated_host_listings_count_shared_rooms",
    "host_total_listings_count",
    "review_scores_accuracy",
    "review_scores_cleanliness",
    "review_scores_checkin",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_value"
]

In [136]:
# Drop unecessary columns from both Florida and California datasets
listing_flor = listing_flor.drop(columns_to_be_dropped, axis = 1)
listing_cali = listing_cali.drop(columns_to_be_dropped, axis = 1)

In [137]:
# Add city column to both Florida and California datasets
listing_flor['state'] = 'Florida'
listing_cali['state'] = 'California'

In [138]:
listing_flor.head(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,...,price,minimum_nights_avg_ntm,has_availability,availability_365,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,state
0,2021-12-24,275948,2010-11-01,within an hour,100%,85%,f,t,t,Entire home/apt,...,$235.00,3.0,t,337,15,4.61,f,1,0.51,Florida
1,2021-12-24,351303,2011-01-17,within an hour,100%,60%,f,t,t,Entire home/apt,...,$140.00,30.0,t,268,1,4.00,f,2,0.04,Florida
2,2021-12-24,454736,2011-03-21,within a few hours,100%,92%,f,t,t,Entire home/apt,...,$99.00,7.0,t,206,0,4.74,f,8,0.16,Florida
3,2021-12-24,532930,2011-04-25,within a day,83%,0%,f,t,t,Entire home/apt,...,$235.00,4.0,t,203,0,5.00,f,1,0.04,Florida
4,2021-12-24,637272,2011-05-28,within a few hours,76%,26%,f,t,t,Entire home/apt,...,$315.00,14.0,t,353,3,4.65,f,6,0.14,Florida

In [139]:
listing_cali.head(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,...,price,minimum_nights_avg_ntm,has_availability,availability_365,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,state
0,2021-12-06,521,2008-06-27,NaN,NaN,NaN,f,t,t,Entire home/apt,...,$115.00,30.0,t,226,0,4.00,f,1,0.02,California
1,2021-12-06,3008,2008-09-16,within a few hours,100%,100%,t,t,t,Private room,...,$89.00,30.0,t,327,5,4.82,t,3,0.69,California
2,2021-12-06,3041,2008-09-17,within an hour,100%,37%,t,t,t,Private room,...,$167.00,7.0,t,359,0,4.68,f,2,0.35,California
3,2021-12-06,3207,2008-09-25,NaN,NaN,NaN,f,t,t,Entire home/apt,...,$50.00,30.0,t,0,0,NaN,t,1,NaN,California
4,2021-12-07,3415,2008-10-02,NaN,NaN,NaN,f,t,t,Entire home/apt,...,$118.00,31.0,t,308,0,4.04,f,4,0.23,California

In [140]:
# Check shape both datasets
print(listing_flor.shape)
print(listing_cali.shape)

(12531, 25)
(33329, 25)

In [141]:
# Merge both datasets into one
frames = [listing_flor, listing_cali]
listings = pd.concat(frames)

In [142]:
listings.sample(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,...,price,minimum_nights_avg_ntm,has_availability,availability_365,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,state
8281,2021-12-07,66954947,2016-04-12,within an hour,100%,98%,t,t,f,Entire home/apt,...,$121.00,2.0,t,133,53,4.92,f,2,3.68,California
8245,2021-12-24,161040667,2017-12-02,within an hour,95%,90%,f,t,t,Entire home/apt,...,$257.00,2.0,t,259,13,4.85,f,10,1.76,Florida
641,2021-12-24,53470641,2016-01-05,within an hour,100%,100%,t,t,t,Entire home/apt,...,$80.00,2.0,t,294,13,4.86,t,1,6.94,Florida
8964,2021-12-06,101401349,2016-10-26,within an hour,100%,98%,f,t,t,Entire home/apt,...,$100.00,30.0,t,303,4,4.68,f,11,0.78,California
9866,2021-12-06,160123783,2017-11-26,NaN,NaN,NaN,f,t,f,Private room,...,$70.00,30.0,t,179,0,5.00,t,1,0.27,California

In [143]:
# Check shape of merged dataset
listings.shape

(45860, 25)

In [144]:
# Clean categorical variables
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within an hour', 0, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within a few hours', 1, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within a day', 2, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'a few days or more', 3, listings['host_response_time'])

listings['host_acceptance_rate'] = listings['host_acceptance_rate'].str.strip('%')
listings['host_response_rate'] = listings['host_response_rate'].str.strip('%')

listings['host_is_superhost'] = np.where(listings['host_is_superhost'] == 't', 1, listings['host_is_superhost'])
listings['host_is_superhost'] = np.where(listings['host_is_superhost'] == 'f', 0, listings['host_is_superhost'])

listings['host_has_profile_pic'] = np.where(listings['host_has_profile_pic'] == 't', 1, listings['host_has_profile_pic'])
listings['host_has_profile_pic'] = np.where(listings['host_has_profile_pic'] == 'f', 0, listings['host_has_profile_pic'])

listings['host_identity_verified'] = np.where(listings['host_identity_verified'] == 't', 1, listings['host_identity_verified'])
listings['host_identity_verified'] = np.where(listings['host_identity_verified'] == 'f', 0, listings['host_identity_verified'])

listings['room_type'] = np.where(listings['room_type'] == 'Entire home/apt', 0, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Hotel room', 1, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Private room', 2, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Shared room', 3, listings['room_type'])

listings['essentials'] = listings['amenities']
listings['essentials'] = np.where(listings['essentials'].str.contains('Essential'), 1, listings['essentials'])
listings['essentials'] = np.where(listings['essentials'].str.contains('Essential') == False, 0, listings['essentials'])

listings['other_amenities'] = listings['amenities']
listings["other_amenities"] = np.where(
    listings["other_amenities"].str.contains("Essential") == False,
    listings["other_amenities"].apply(lambda x: len(x.split(","))),
    (
        np.where(
            listings["other_amenities"].str.contains("Essential") == True,
            listings["other_amenities"].apply(lambda x: len(x.split(",")) - 1),
            listings["other_amenities"],
        )
    ),
)

listings['has_availability'] = np.where(listings['has_availability'] == 't', 1, listings['has_availability'])
listings['has_availability'] = np.where(listings['has_availability'] == 'f', 0, listings['has_availability'])

listings['instant_bookable'] = np.where(listings['instant_bookable'] == 't', 1, listings['instant_bookable'])
listings['instant_bookable'] = np.where(listings['instant_bookable'] == 'f', 0, listings['instant_bookable'])

listings['bathrooms_text'] = listings['bathrooms_text'].str.split(" ").str[0]
listings["bathrooms_text"] = np.where(
    listings["bathrooms_text"] == "Private",
    1,
    (
        np.where(
            listings["bathrooms_text"] == "Shared",
            1,
            np.where(
                listings["bathrooms_text"] == "Half-bath",
                1,
                listings["bathrooms_text"],
            ),
        )
    ),
)

listings['price'] = listings['price'].str.strip('$')
listings['total_bookings'] = listings['number_of_reviews_ltm'] * 100/67

In [145]:
# Add decisions to be taken across NA columns
na_treatments = {
    'host_since': "drop rows", #only 4 unique hosts, with a lot of ther nas in other columns as well
    'host_response_time': "drop rows", #No relationship with other variables found yet. Very important variable, do not want to impute.
    'host_response_rate': "drop rows", #No relationship with other variables found yet. Very important variable, do not want to impute.
    'host_acceptance_rate': "drop rows", #only 79 different after dropping above 2, impute if possible
    'host_is_superhost': "drop rows", #Very important variable, do not want to impute. 
    'bathrooms_text': "drop rows",
    "beds": "imput_beds",
    'host_has_profile_pic': "nothing", #Gets auto dropped with superhost
    'host_identity_verified': "nothing", #Gets auto dropped with superhost
    "review_scores_rating": "drop rows",
    "bedrooms": "impute_bedrooms",
    "review_scores_accuracy": "drop rows",
    "review_scores_value": "drop rows"
}

In [146]:
listings2 = listings.copy()

In [147]:
# Apply decisions on NA columns
for i in listings2.columns:
    if i in na_treatments.keys():
        if na_treatments[i] == "drop rows":
            listings2 = listings2[listings2[i].notna()]
        if na_treatments[i] == "impute_bedrooms":
            listings2["bedrooms"] = np.where(
                listings2["bedrooms"].isna() == True, 0, listings2["bedrooms"],
            )
        if na_treatments[i] == "impute_beds":
            listings2["beds"] = np.where(
                (listings2["beds"].isna() == True)
                & (listings2["bedrooms"].isna() == False),
                1,
                listings2["beds"],
            )


listings2 = listings2[listings2["beds"].notna()]
listings2 = listings2.drop(columns=['amenities'])

In [148]:
# Check NA
listings2.isna().sum()

last_scraped                      0
host_id                           0
host_since                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_has_profile_pic              0
host_identity_verified            0
room_type                         0
accommodates                      0
bathrooms_text                    0
bedrooms                          0
beds                              0
price                             0
minimum_nights_avg_ntm            0
has_availability                  0
availability_365                  0
number_of_reviews_ltm             0
review_scores_rating              0
instant_bookable                  0
calculated_host_listings_count    0
reviews_per_month                 0
state                             0
essentials                        0
other_amenities                   0
total_bookings                    0
dtype: int64

In [149]:
# Check shape after modifying/dropping NAs
listings2.shape

(25848, 27)

In [150]:
listings2.sample(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,...,availability_365,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,state,essentials,other_amenities,total_bookings
11451,2021-12-07,186440946,2018-04-26,0,100,100,1,1,1,0,...,311,134,4.95,1,1,11.52,California,1,29,200.000000
16148,2021-12-06,11573655,2014-01-23,1,100,80,0,1,1,0,...,104,1,4.94,0,1,1.06,California,1,64,1.492537
13350,2021-12-06,68672147,2016-04-24,0,80,92,1,1,0,0,...,0,1,5.00,0,18,0.05,California,1,18,1.492537
5564,2021-12-25,149230562,2017-09-05,0,100,93,0,1,1,0,...,81,31,4.68,0,13,2.70,Florida,1,23,46.268657
28771,2021-12-06,65219076,2016-03-31,2,100,40,0,1,1,0,...,69,2,5.00,0,1,0.54,California,1,58,2.985075

In [151]:
# Calculate Host Experience
listings2['last_scraped'] = listings2['last_scraped'].astype('datetime64[ns]')
listings2['host_since'] = listings2['host_since'].astype('datetime64[ns]')
listings2['host_experience'] = (listings2['last_scraped'] - listings2['host_since']).dt.days

# Calculate Annual Revenue
listings2['price'] = listings2['price'].apply(lambda x: float(x.split()[0].replace(',', '')))
listings2['hotel_room_revenue'] =  listings2.price * listings2.minimum_nights_avg_ntm * listings2.total_bookings

In [152]:
# Check duplicate entries for hosts
listings2['host_id'].duplicated().any()

True

In [153]:
# List duplicate entries
listings2[listings2.duplicated('host_id')]

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,...,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,state,essentials,other_amenities,total_bookings,host_experience,hotel_room_revenue
5,2021-12-24,637272,2011-05-28,1,76,26,0,1,1,0,...,4.32,0,6,0.20,Florida,0,29,1.492537,3863,3358.208955
9,2021-12-24,637272,2011-05-28,1,76,26,0,1,1,0,...,4.93,0,6,0.15,Florida,0,16,0.000000,3863,0.000000
12,2021-12-24,454736,2011-03-21,1,100,92,0,1,1,0,...,4.89,0,8,0.09,Florida,1,20,1.492537,3931,1044.776119
18,2021-12-24,1304156,2011-10-17,0,100,96,0,1,1,0,...,4.78,0,4,1.26,Florida,1,57,38.805970,3721,4734.328358
24,2021-12-24,1848829,2012-03-03,2,70,73,1,1,1,0,...,4.90,0,2,0.17,Florida,1,30,5.970149,3583,6268.656716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33060,2021-12-07,84963262,2016-07-20,0,100,99,0,1,1,3,...,4.50,1,14,2.00,California,1,27,2.985075,1966,62.686567
33092,2021-12-07,430751743,2021-11-07,0,100,100,0,1,1,2,...,5.00,1,29,1.00,California,0,2,1.492537,30,895.522388
33207,2021-12-07,431636636,2021-11-12,0,100,91,0,1,1,2,...,5.00,1,4,1.00,California,1,30,1.492537,25,74.626866
33279,2021-12-07,426946658,2021-10-11,0,100,100,0,1,1,2,...,5.00,0,7,1.00,California,1,24,1.492537,57,55.223881
33288,2021-12-06,133029068,2017-06-01,0,100,100,0,1,1,0,...,5.00,0,6,1.00,California,1,26,1.492537,1649,1952.238806

In [154]:
# Group by hosts across columns
listings2['bathrooms_text'] = listings2['bathrooms_text'].astype('float')

listings3 = (
    listings2.groupby(["host_id", "state"])
    .agg(
        {
            "host_response_time": "min",
            "host_response_rate": "max",
            "host_acceptance_rate": "max",
            "host_is_superhost": "max",
            "host_has_profile_pic": "max",
            "host_identity_verified": "max",
            "room_type": "min",
            "accommodates": "mean",
            "bathrooms_text": "mean",
            "bedrooms": "mean",
            "beds": "mean",
            "has_availability": "max",
            "number_of_reviews_ltm": "mean",
            "review_scores_rating": "mean",
            "instant_bookable": "max",
            "calculated_host_listings_count": "mean",
            "reviews_per_month": "mean",
            "essentials": "max",
            "other_amenities": "mean",
            "hotel_room_revenue" : "sum",
            "host_experience": "mean",
            "total_bookings": "sum"
        }
    )
    .reset_index()
)

In [155]:
# Change datatypes to appropriate types
listings3['host_response_rate'] = listings3['host_response_rate'].astype('int')
listings3['host_acceptance_rate'] = listings3['host_acceptance_rate'].astype('int')
listings3['bedrooms'] = listings3['bedrooms'].astype('int')
listings3['beds'] = listings3['beds'].astype('int')
listings3['state'] = listings3['state'].astype('str')
listings3['host_response_time'] = listings3['host_response_time'].astype('category')
listings3['host_is_superhost'] = listings3['host_is_superhost'].astype('category')
listings3['host_has_profile_pic'] = listings3['host_has_profile_pic'].astype('category')
listings3['host_identity_verified'] = listings3['host_identity_verified'].astype('category')
listings3['room_type'] = listings3['room_type'].astype('category')
listings3['essentials'] = listings3['essentials'].astype('category')
listings3['other_amenities'] = listings3['other_amenities'].astype('int')
listings3['has_availability'] = listings3['has_availability'].astype('category')
listings3['instant_bookable'] = listings3['instant_bookable'].astype('category')
listings3['hotel_room_revenue'] = listings3['hotel_room_revenue'].astype('float')

In [156]:
listings3

,host_id,state,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,accommodates,...,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,essentials,other_amenities,hotel_room_revenue,host_experience,total_bookings
0,3008,California,1,100,100,1,1,1,2,1.00,...,6.00,4.815,1,3.0,0.860,1,39,54089.552239,4829.00,17.910448
1,3041,California,0,100,37,1,1,1,2,1.00,...,0.00,4.680,0,2.0,0.350,1,17,0.000000,4828.00,0.000000
2,6829,California,1,100,54,0,1,1,0,6.00,...,0.00,4.645,0,2.0,1.215,1,22,0.000000,4707.50,0.000000
3,7830,California,1,100,71,1,1,1,2,2.00,...,11.00,4.870,0,1.0,1.480,1,24,2134.328358,4681.00,16.417910
4,9171,California,1,100,82,1,1,1,0,1.25,...,1.75,4.750,0,4.0,3.500,1,27,19925.373134,4659.75,10.447761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12579,434676464,Florida,0,100,100,0,0,1,0,10.00,...,1.00,5.000,0,1.0,1.000,1,44,746.268657,20.00,1.492537
12580,434963038,Florida,0,100,100,0,0,1,0,16.00,...,3.00,5.000,1,1.0,3.000,1,23,4473.134328,18.00,4.477612
12581,435330041,Florida,0,100,100,0,0,0,0,10.00,...,1.00,5.000,1,1.0,1.000,0,45,820.895522,16.00,1.492537
12582,435871016,Florida,0,100,100,0,1,0,0,9.00,...,2.00,5.000,1,2.0,2.000,1,61,22925.373134,11.00,5.970149
12583,436063395,Florida,0,100,100,0,1,0,0,8.00,...,1.00,5.000,1,1.0,1.000,1,67,4033.582090,10.00,1.492537

In [157]:
# Writing Final Data frame to CSV
path_res = Path(PARENT).parent / "../20_intermediate_files"
listings3.to_csv(path_res/'final_listings.csv')

In [158]:
# Writing Final Data frame to Pickle file
path_res = Path(PARENT).parent / "../20_intermediate_files"
listings3.to_pickle(path_res/'final_listings.pkl')