In [732]:
# Load libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [733]:
# Find path
PARENT = "A-Causal-Study-on-Airbnb-Impact-of-Being-Superhosts-on-Revenue/"
path_cali = Path(PARENT).parent / "../00_source_data/listings_california.csv.gz"
path_flor = Path(PARENT).parent / "../00_source_data/listings_florida.csv.gz"

In [734]:
# Load datasets
listing_flor = pd.read_csv(path_flor)
listing_cali = pd.read_csv(path_cali)

In [735]:
listing_flor.columns
listing_cali.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [736]:
listing_flor.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,57818,https://www.airbnb.com/rooms/57818,20211223224458,2021-12-24,Private house close to the beach!,Beautifully private duplex that allows you to ...,Check-in window<br />After 3:00 PM<br />Edit<b...,https://a0.muscache.com/pictures/347696/9d5168...,275948,https://www.airbnb.com/users/show/275948,...,4.96,4.88,4.70,NaN,f,1,1,0,0,0.51
1,69824,https://www.airbnb.com/rooms/69824,20211223224458,2021-12-24,2 bd/2ba Oceanfront Condo,<b>The space</b><br />Beautiful and meticulous...,NaN,https://a0.muscache.com/pictures/443102/f6b94e...,351303,https://www.airbnb.com/users/show/351303,...,4.00,5.00,4.00,NaN,f,2,2,0,0,0.04
2,83449,https://www.airbnb.com/rooms/83449,20211223224458,2021-12-24,MARY POP APTS 2/1 APT SLEEP 5,MARY POP APARTMENTS 1&2 BEDROOM SUITES ACCOMMO...,NaN,https://a0.muscache.com/pictures/13dd4c7e-4914...,454736,https://www.airbnb.com/users/show/454736,...,4.89,4.79,4.89,NaN,f,8,8,0,0,0.16
3,105411,https://www.airbnb.com/rooms/105411,20211223224458,2021-12-24,House in the Ranches,Close to Cleveland Clinic Hospital and mayor h...,"Very close to I75, one of the main highways. Y...",https://a0.muscache.com/pictures/787317/2cc18e...,532930,https://www.airbnb.com/users/show/532930,...,5.00,4.25,5.00,NaN,f,1,1,0,0,0.04
4,129061,https://www.airbnb.com/rooms/129061,20211223224458,2021-12-24,MIAMI - LUXURY APARTMENT OVER BEACH,<b>The space</b><br />The apartment is located...,NaN,https://a0.muscache.com/pictures/828456/8efef9...,637272,https://www.airbnb.com/users/show/637272,...,5.00,4.61,4.50,NaN,f,6,6,0,0,0.14

In [737]:
listing_cali.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,109,https://www.airbnb.com/rooms/109,20211205213202,2021-12-06,Amazing bright elegant condo park front *UPGRA...,"*** Unit upgraded with new bamboo flooring, br...",NaN,https://a0.muscache.com/pictures/4321499/1da98...,521,https://www.airbnb.com/users/show/521,...,4.00,5.00,4.00,NaN,f,1,1,0,0,0.02
1,2708,https://www.airbnb.com/rooms/2708,20211205213202,2021-12-06,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,"Run Runyon Canyon, Our Gym & Sauna Open <br />...","Walk and run to Runyon Canyon, it is open!<br ...",https://a0.muscache.com/pictures/miso/Hosting-...,3008,https://www.airbnb.com/users/show/3008,...,4.97,5.00,4.85,NaN,t,3,0,3,0,0.69
2,2732,https://www.airbnb.com/rooms/2732,20211205213202,2021-12-06,Zen Life at the Beach,An oasis of tranquility awaits you.<br /><br /...,"This is the best part of Santa Monica. Quiet, ...",https://a0.muscache.com/pictures/1082974/0f74c...,3041,https://www.airbnb.com/users/show/3041,...,4.70,4.90,4.40,228269,f,2,1,1,0,0.35
3,2864,https://www.airbnb.com/rooms/2864,20211205213202,2021-12-06,* Beautiful Master Suite/Jacuzzi Tub/*,Centrally located.... Furnished with King Size...,What makes the neighborhood unique is that the...,https://a0.muscache.com/pictures/23817858/de20...,3207,https://www.airbnb.com/users/show/3207,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
4,3021,https://www.airbnb.com/rooms/3021,20211205213202,2021-12-07,Hollywood Hills Zen Modern style Apt/Guesthouse,A very Modern Hollywood Hills Zen style galler...,This is the famous Hollywood hills.. Historica...,https://a0.muscache.com/pictures/5147dcd2-efad...,3415,https://www.airbnb.com/users/show/3415,...,4.30,4.64,4.00,NaN,f,4,1,3,0,0.23

In [738]:
# List unecessary columns
columns_to_be_dropped = [
    "id",
    "listing_url",
    "scrape_id",
    "name",
    "description", # future work: apply NLP to extract meaning
    "neighborhood_overview", # future work: apply NLP to extract meaning; geospatial analysis
    "picture_url",
    "host_url",
    "host_name",
    "host_location", # future work: apply NLP to extract meaning; geospatial analysis
    "host_about", # future work: apply NLP to extract meaning
    "host_thumbnail_url",
    "host_picture_url",
    "host_neighbourhood", # future work: apply NLP to extract meaning; geospatial analysis
    "host_listings_count", # redundant variable as we have "host_total_listings_count" 
    # "host_total_listings_count", # Tego: shall be kept
    # "host_verifications", # Tego: shall transform into the number of verification methods
    "neighbourhood", # future work: geospatial analysis
    "neighbourhood_cleansed", # future work: geospatial analysis
    "neighbourhood_group_cleansed", # null column
    "latitude", # future work: geospatial analysis
    "longitude", # future work: geospatial analysis
    "property_type", # similar variable "room_type" exists
    "bathrooms", # similar variable "bathrooms_text" exists
    # """
    # For the below minimum_/maximum_ variables, based on definition in data dictionary "Inside Airbnb Data Dictionary.xlsx", 
    # we only keep "minimum_nights_avg_ntm"
    # """
    "minimum_nights", 
    "maximum_nights",
    "minimum_minimum_nights",
    "maximum_minimum_nights",
    "minimum_maximum_nights",
    "maximum_maximum_nights",
    "maximum_nights_avg_ntm",
    "calendar_updated", # null column
    # "availability_30",  # Tego: shall be kept
    # "availability_60",  # Tego: shall be kept
    # "availability_90", # Tego: shall be kept
    "calendar_last_scraped",
    # "number_of_reviews", # Tego: shall be kept
    # "number_of_reviews_l30d", # Tego: shall be kept
    "license" #, # null column
    # "calculated_host_listings_count_entire_homes", # Tego: shall be kept
    # "calculated_host_listings_count_private_rooms", # Tego: shall be kept
    # "calculated_host_listings_count_shared_rooms", # Tego: shall be kept
    # """
    # For the following 6 columns, though each of them has about 20% missing data, 
    # their missing records mostly align and they might be important features based on domain knowledge
    # Thus, we kept them and remove the missing data afterward.
    # """
    # "first_review", 
    # "last_review", 
    # "review_scores_accuracy", 
    # "review_scores_cleanliness", 
    # "review_scores_checkin", 
    # "review_scores_communication", 
    # "review_scores_location", 
    # "review_scores_value" 
]

In [739]:
# Drop unecessary columns from both Florida and California datasets
listing_flor = listing_flor.drop(columns_to_be_dropped, axis = 1)
listing_cali = listing_cali.drop(columns_to_be_dropped, axis = 1)

In [740]:
# Add city column to both Florida and California datasets
listing_flor['state'] = 'Florida'
listing_cali['state'] = 'California'

In [741]:
listing_flor.head(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,state
0,2021-12-24,275948,2010-11-01,within an hour,100%,85%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,...,4.96,4.88,4.70,f,1,1,0,0,0.51,Florida
1,2021-12-24,351303,2011-01-17,within an hour,100%,60%,f,2.0,"['email', 'phone', 'facebook', 'kba']",t,...,4.00,5.00,4.00,f,2,2,0,0,0.04,Florida
2,2021-12-24,454736,2011-03-21,within a few hours,100%,92%,f,9.0,"['email', 'phone', 'facebook', 'reviews']",t,...,4.89,4.79,4.89,f,8,8,0,0,0.16,Florida
3,2021-12-24,532930,2011-04-25,within a day,83%,0%,f,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,...,5.00,4.25,5.00,f,1,1,0,0,0.04,Florida
4,2021-12-24,637272,2011-05-28,within a few hours,76%,26%,f,13.0,"['email', 'phone', 'manual_online', 'facebook'...",t,...,5.00,4.61,4.50,f,6,6,0,0,0.14,Florida

In [742]:
listing_cali.head(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,state
0,2021-12-06,521,2008-06-27,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,...,4.00,5.00,4.00,f,1,1,0,0,0.02,California
1,2021-12-06,3008,2008-09-16,within a few hours,100%,100%,t,2.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,...,4.97,5.00,4.85,t,3,0,3,0,0.69,California
2,2021-12-06,3041,2008-09-17,within an hour,100%,37%,t,2.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,...,4.70,4.90,4.40,f,2,1,1,0,0.35,California
3,2021-12-06,3207,2008-09-25,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'kba']",t,...,NaN,NaN,NaN,t,1,1,0,0,NaN,California
4,2021-12-07,3415,2008-10-02,NaN,NaN,NaN,f,6.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,...,4.30,4.64,4.00,f,4,1,3,0,0.23,California

In [743]:
# Check shape both datasets
print("The shape of FL dataset: ", listing_flor.shape)
print("The shape of CA dataset: ", listing_cali.shape)

The shape of FL dataset:  (12531, 43)
The shape of CA dataset:  (33329, 43)

In [744]:
# Merge both datasets into one
listings = pd.concat([listing_flor, listing_cali], axis = 0, ignore_index=True)

In [745]:
# Check shape of merged dataset
print("The shape of combined dataset: ", listings.shape)

The shape of combined dataset:  (45860, 43)

In [746]:
listings.head()

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,state
0,2021-12-24,275948,2010-11-01,within an hour,100%,85%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,...,4.96,4.88,4.70,f,1,1,0,0,0.51,Florida
1,2021-12-24,351303,2011-01-17,within an hour,100%,60%,f,2.0,"['email', 'phone', 'facebook', 'kba']",t,...,4.00,5.00,4.00,f,2,2,0,0,0.04,Florida
2,2021-12-24,454736,2011-03-21,within a few hours,100%,92%,f,9.0,"['email', 'phone', 'facebook', 'reviews']",t,...,4.89,4.79,4.89,f,8,8,0,0,0.16,Florida
3,2021-12-24,532930,2011-04-25,within a day,83%,0%,f,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,...,5.00,4.25,5.00,f,1,1,0,0,0.04,Florida
4,2021-12-24,637272,2011-05-28,within a few hours,76%,26%,f,13.0,"['email', 'phone', 'manual_online', 'facebook'...",t,...,5.00,4.61,4.50,f,6,6,0,0,0.14,Florida

In [747]:
# Clean categorical variables
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within an hour', 0, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within a few hours', 1, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'within a day', 2, listings['host_response_time'])
listings['host_response_time'] = np.where(listings['host_response_time'] == 'a few days or more', 3, listings['host_response_time'])

listings['host_acceptance_rate'] = listings['host_acceptance_rate'].str.strip('%')
listings['host_response_rate'] = listings['host_response_rate'].str.strip('%')

listings['host_is_superhost'] = np.where(listings['host_is_superhost'] == 't', 1, listings['host_is_superhost'])
listings['host_is_superhost'] = np.where(listings['host_is_superhost'] == 'f', 0, listings['host_is_superhost'])

listings['host_has_profile_pic'] = np.where(listings['host_has_profile_pic'] == 't', 1, listings['host_has_profile_pic'])
listings['host_has_profile_pic'] = np.where(listings['host_has_profile_pic'] == 'f', 0, listings['host_has_profile_pic'])

listings['host_identity_verified'] = np.where(listings['host_identity_verified'] == 't', 1, listings['host_identity_verified'])
listings['host_identity_verified'] = np.where(listings['host_identity_verified'] == 'f', 0, listings['host_identity_verified'])

listings['room_type'] = np.where(listings['room_type'] == 'Entire home/apt', 0, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Hotel room', 1, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Private room', 2, listings['room_type'])
listings['room_type'] = np.where(listings['room_type'] == 'Shared room', 3, listings['room_type'])

listings['essentials'] = listings['amenities']
listings['essentials'] = np.where(listings['essentials'].str.contains('Essential'), 1, listings['essentials'])
listings['essentials'] = np.where(listings['essentials'].str.contains('Essential') == False, 0, listings['essentials'])

listings['other_amenities'] = listings['amenities']
listings["other_amenities"] = np.where(
    listings["other_amenities"].str.contains("Essential") == False,
    listings["other_amenities"].apply(lambda x: len(x.split(","))),
    (
        np.where(
            listings["other_amenities"].str.contains("Essential") == True,
            listings["other_amenities"].apply(lambda x: len(x.split(",")) - 1),
            listings["other_amenities"],
        )
    ),
)

listings['has_availability'] = np.where(listings['has_availability'] == 't', 1, listings['has_availability'])
listings['has_availability'] = np.where(listings['has_availability'] == 'f', 0, listings['has_availability'])

listings['instant_bookable'] = np.where(listings['instant_bookable'] == 't', 1, listings['instant_bookable'])
listings['instant_bookable'] = np.where(listings['instant_bookable'] == 'f', 0, listings['instant_bookable'])

listings['bathrooms_number'] = listings['bathrooms_text'].str.split(" ").str[0]
listings["bathrooms_number"] = np.where(
    listings["bathrooms_number"] == "Private",
    1,
    (
        np.where(
            listings["bathrooms_number"] == "Shared",
            1,
            np.where(
                listings["bathrooms_number"] == "Half-bath",
                1,
                listings["bathrooms_number"],
            ),
        )
    ),
)

listings['price'] = listings['price'].str.strip('$')
listings['total_bookings_last_year'] = listings['number_of_reviews_ltm'] * 3 / 2 ## Assume 2/3 of the bookings will leave a review;

In [748]:
int_col = ['host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_has_profile_pic',
            'host_identity_verified', 'room_type', 'has_availability', 'instant_bookable', 'essentials', 'other_amenities', 
            'bathrooms_number'
        ]

for col in int_col:
    listings[col] = pd.to_numeric(listings[col], errors='coerce')

# listings['host_response_time'] = listings['host_response_time'].astype("int")
# listings['host_response_rate'] = listings['host_response_rate'].astype("int")
# listings['host_acceptance_rate'] = listings['host_acceptance_rate'].astype("int")
# listings['host_is_superhost'] = listings['host_is_superhost'].astype("int")
# listings['host_has_profile_pic'] = listings['host_has_profile_pic'].astype("int")
# listings['host_identity_verified'] = listings['host_identity_verified'].astype("int")
# listings['room_type'] = listings['room_type'].astype("int")
# listings['has_availability'] = listings['has_availability'].astype("int")
# listings['instant_bookable'] = listings['instant_bookable'].astype("int")
# listings['essentials'] = listings['essentials'].astype("int")
# listings['other_amenities'] = listings['other_amenities'].astype("int")
# listings['bathrooms_number'] = listings['bathrooms_number'].astype('float')

In [749]:
# "host_verifications", # Tego: shall transform into the number of verification methods, 
listings['number_host_verifications'] = listings['host_verifications'].str.split(",").apply(len)

listings['first_review'] = listings['first_review'].astype('datetime64[ns]')
listings["first_review_year"] = listings['first_review'].dt.year
listings['last_review'] = listings['last_review'].astype('datetime64[ns]')
listings["last_review_year"] = listings['last_review'].dt.year

listings.drop(columns=['host_verifications', 'first_review', 'last_review', 'bathrooms_text'], inplace = True)

"""
Below are features that require no further preprocessing:

"host_total_listings_count",
"availability_30",
"availability_60",
"availability_90",
"number_of_reviews",
"number_of_reviews_l30d",
"calculated_host_listings_count_entire_homes",
"calculated_host_listings_count_private_rooms",
"calculated_host_listings_count_shared_rooms",
"review_scores_accuracy",
"review_scores_cleanliness",
"review_scores_checkin", 
"review_scores_communication", 
"review_scores_location", 
"review_scores_value"
"""

'\nBelow are features that require no further preprocessing:\n\n"host_total_listings_count",\n"availability_30",\n"availability_60",\n"availability_90",\n"number_of_reviews",\n"number_of_reviews_l30d",\n"calculated_host_listings_count_entire_homes",\n"calculated_host_listings_count_private_rooms",\n"calculated_host_listings_count_shared_rooms",\n"review_scores_accuracy",\n"review_scores_cleanliness",\n"review_scores_checkin", \n"review_scores_communication", \n"review_scores_location", \n"review_scores_value"\n'

In [750]:
df_test = pd.DataFrame(np.ones(12).reshape(3, 4), columns = ["A", "B", "C", "D"])
df_test.iloc[1,:-1] = np.nan
df_test

     A    B    C    D
0  1.0  1.0  1.0  1.0
1  NaN  NaN  NaN  1.0
2  1.0  1.0  1.0  1.0

In [751]:
df_test.groupby("D").agg(
    {
    "A": "sum", 
    "B": "mean",
    "C": "max"
    }
)

       A    B    C
D
1.0  2.0  1.0  1.0

In [752]:
listings2 = listings.copy()

In [753]:
few_miss_col = listings2.columns[(listings2.isna().sum() > 0) & (listings2.isna().sum() < 100)]
listings2.dropna(subset=few_miss_col, inplace=True)

In [754]:
listings2.loc[:, listings2.columns[listings2.isna().sum() > 0]].isna().sum()

host_response_time             11597
host_response_rate             11597
host_acceptance_rate           10747
bedrooms                        4906
beds                            2022
review_scores_rating           10463
review_scores_accuracy         10843
review_scores_cleanliness      10842
review_scores_checkin          10852
review_scores_communication    10843
review_scores_location         10855
review_scores_value            10857
reviews_per_month              10463
first_review_year              10463
last_review_year               10463
dtype: int64

In [755]:
# Add decisions to be taken across NA columns
na_treatments = {
    'host_since': "drop rows", #only 4 unique hosts, with a lot of ther nas in other columns as well
    # 'host_response_time': "drop rows", #No relationship with other variables found yet. Very important variable, do not want to impute.
    # 'host_response_rate': "drop rows", #No relationship with other variables found yet. Very important variable, do not want to impute.
    # 'host_acceptance_rate': "drop rows", #only 79 different after dropping above 2, impute if possible
    'host_is_superhost': "drop rows", #Very important variable, do not want to impute. 
    "host_total_listings_count": "drop rows",
    "host_has_profile_pic": "drop rows",
    "host_identity_verified": "drop rows",
    'bathrooms_text': "drop rows",
    # "bedrooms": "impute_bedrooms",
    # "beds": "imput_beds",
    "minimum_nights_avg_ntm": "drop rows",
    'host_has_profile_pic': "nothing", #Gets auto dropped with superhost
    'host_identity_verified': "nothing", #Gets auto dropped with superhost
    "review_scores_rating": "drop rows",
    # "review_scores_accuracy": "drop rows",
    # "review_scores_value": "drop rows"
}

In [756]:
# # Apply decisions on NA columns
# for i in listings2.columns:
#     if i in na_treatments.keys():
#         if na_treatments[i] == "drop rows":
#             listings2 = listings2[listings2[i].notna()]
#         # if na_treatments[i] == "impute_bedrooms":
#         #     listings2["bedrooms"] = np.where(
#         #         listings2["bedrooms"].isna() == True, 0, listings2["bedrooms"],
#         #     )
#         # if na_treatments[i] == "impute_beds":
#         #     listings2["beds"] = np.where(
#         #         (listings2["beds"].isna() == True)
#         #         & (listings2["bedrooms"].isna() == False),
#         #         1,
#         #         listings2["beds"],
#         #     )


# # listings2 = listings2[listings2["beds"].notna()]
# listings2 = listings2.drop(columns=['amenities'])

In [757]:
# Check NA
listings2.loc[:, listings2.columns[listings2.isna().sum() > 0]].isna().sum()
# len(listings2)
# len(listings)

host_response_time             11597
host_response_rate             11597
host_acceptance_rate           10747
bedrooms                        4906
beds                            2022
review_scores_rating           10463
review_scores_accuracy         10843
review_scores_cleanliness      10842
review_scores_checkin          10852
review_scores_communication    10843
review_scores_location         10855
review_scores_value            10857
reviews_per_month              10463
first_review_year              10463
last_review_year               10463
dtype: int64

In [758]:
# Check shape after modifying/dropping NAs
listings2.shape

(45760, 46)

In [759]:
listings2.sample(5)

,last_scraped,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,...,calculated_host_listings_count_shared_rooms,reviews_per_month,state,essentials,other_amenities,bathrooms_number,total_bookings_last_year,number_host_verifications,first_review_year,last_review_year
24468,2021-12-06,159156881,2017-11-18,0.0,100.0,100.0,0.0,2.0,1.0,1.0,...,0,2.04,California,1,31,1.0,0.0,8,2019.0,2019.0
33301,2021-12-06,20652297,2014-08-28,NaN,NaN,NaN,0.0,0.0,1.0,1.0,...,0,NaN,California,1,20,1.0,0.0,8,NaN,NaN
37231,2021-12-06,351699268,2020-06-24,0.0,91.0,62.0,0.0,11.0,1.0,1.0,...,0,0.19,California,1,19,1.5,1.5,7,2021.0,2021.0
26959,2021-12-06,77561434,2016-06-13,0.0,100.0,61.0,0.0,13.0,1.0,1.0,...,0,0.49,California,1,51,1.0,3.0,5,2019.0,2020.0
37742,2021-12-07,148677062,2017-09-01,0.0,100.0,96.0,1.0,7.0,1.0,1.0,...,0,0.54,California,1,37,1.0,6.0,3,2021.0,2021.0

In [760]:
listings2.columns

Index(['last_scraped', 'host_id', 'host_since', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'room_type', 'accommodates', 'bedrooms',
       'beds', 'amenities', 'price', 'minimum_nights_avg_ntm',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'state', 'essentials', 'other_amenities', 'bathrooms_number',
       'total_bookings_last_year', 'number_host_verifications',
       'first_review_year', 'last_review_year'],
      dtype='object')

In [761]:
# Calculate Host Experience
listings2['last_scraped'] = listings2['last_scraped'].astype('datetime64[ns]')
listings2['host_since'] = listings2['host_since'].astype('datetime64[ns]')
listings2['host_experience'] = (listings2['last_scraped'] - listings2['host_since']).dt.days

In [762]:
listings2.drop(columns=['amenities', 'last_scraped', 'host_since'], inplace = True)

In [763]:
# Calculate Annual Revenue
listings2['price'] = listings2['price'].apply(lambda x: float(x.replace(',','')))
listings2['hotel_room_revenue'] =  listings2.price * listings2.minimum_nights_avg_ntm * listings2.total_bookings_last_year

In [764]:
# Check duplicate entries for hosts
listings2['host_id'].duplicated().any()
listings2[listings2.duplicated('host_id')].sort_values('host_id')

,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,room_type,accommodates,...,state,essentials,other_amenities,bathrooms_number,total_bookings_last_year,number_host_verifications,first_review_year,last_review_year,host_experience,hotel_room_revenue
41970,3008,1.0,100.0,100.0,1.0,2.0,1.0,1.0,2,3,...,California,1,40,1.0,0.0,7,NaN,NaN,4829,0.0
12540,3008,1.0,100.0,100.0,1.0,2.0,1.0,1.0,2,1,...,California,1,38,1.0,10.5,7,2019.0,2021.0,4829,34335.0
13157,3041,0.0,100.0,37.0,1.0,2.0,1.0,1.0,0,3,...,California,1,14,2.0,12.0,8,2013.0,2021.0,4828,3072.0
12577,3415,NaN,NaN,NaN,0.0,6.0,1.0,1.0,2,2,...,California,1,24,1.5,4.5,5,2019.0,2021.0,4814,8235.0
16129,3415,NaN,NaN,NaN,0.0,6.0,1.0,1.0,2,2,...,California,1,13,1.0,0.0,5,2015.0,2016.0,4814,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12282,435381994,0.0,100.0,100.0,0.0,0.0,0.0,1.0,0,4,...,Florida,0,7,1.0,0.0,1,NaN,NaN,15,0.0
12286,435381994,0.0,100.0,100.0,0.0,0.0,0.0,1.0,0,3,...,Florida,0,7,1.0,0.0,1,NaN,NaN,15,0.0
12394,435835669,2.0,50.0,25.0,0.0,0.0,0.0,1.0,0,4,...,Florida,0,14,1.5,0.0,1,NaN,NaN,11,0.0
12361,435871016,0.0,100.0,100.0,0.0,0.0,1.0,0.0,0,8,...,Florida,1,62,3.0,3.0,1,2021.0,2021.0,11,9765.0
12493,436399725,NaN,NaN,100.0,0.0,0.0,1.0,1.0,0,4,...,Florida,1,15,1.0,0.0,2,NaN,NaN,7,0.0

In [765]:
listings2.columns

Index(['host_id', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'room_type', 'accommodates', 'bedrooms',
       'beds', 'price', 'minimum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'state', 'essentials', 'other_amenities', 'bathrooms_number',
       'total_bookings_last_year', 'number_host_verifications',
       'first_review_year', 'last_review_year', 'host_experience',
       'hotel_room_revenue'],
      dtype='object')

In [766]:
listings2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45760 entries, 0 to 45859
Data columns (total 45 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_id                                       45760 non-null  int64
 1   host_response_time                            34163 non-null  float64
 2   host_response_rate                            34163 non-null  float64
 3   host_acceptance_rate                          35013 non-null  float64
 4   host_is_superhost                             45760 non-null  float64
 5   host_total_listings_count                     45760 non-null  float64
 6   host_has_profile_pic                          45760 non-null  float64
 7   host_identity_verified                        45760 non-null  float64
 8   room_type                                     45760 non-null  int64
 9   accommodates                                  45760 non-null  int64
 10  bedrooms                                      40854 non-null  float64
 11  beds                                          43738 non-null  float64
 12  price                                         45760 non-null  float64
 13  minimum_nights_avg_ntm                        45760 non-null  float64
 14  has_availability                              45760 non-null  int64
 15  availability_30                               45760 non-null  int64
 16  availability_60                               45760 non-null  int64
 17  availability_90                               45760 non-null  int64
 18  availability_365                              45760 non-null  int64
 19  number_of_reviews                             45760 non-null  int64
 20  number_of_reviews_ltm                         45760 non-null  int64
 21  number_of_reviews_l30d                        45760 non-null  int64
 22  review_scores_rating                          35297 non-null  float64
 23  review_scores_accuracy                        34917 non-null  float64
 24  review_scores_cleanliness                     34918 non-null  float64
 25  review_scores_checkin                         34908 non-null  float64
 26  review_scores_communication                   34917 non-null  float64
 27  review_scores_location                        34905 non-null  float64
 28  review_scores_value                           34903 non-null  float64
 29  instant_bookable                              45760 non-null  int64
 30  calculated_host_listings_count                45760 non-null  int64
 31  calculated_host_listings_count_entire_homes   45760 non-null  int64
 32  calculated_host_listings_count_private_rooms  45760 non-null  int64
 33  calculated_host_listings_count_shared_rooms   45760 non-null  int64
 34  reviews_per_month                             35297 non-null  float64
 35  state                                         45760 non-null  object
 36  essentials                                    45760 non-null  int64
 37  other_amenities                               45760 non-null  int64
 38  bathrooms_number                              45760 non-null  float64
 39  total_bookings_last_year                      45760 non-null  float64
 40  number_host_verifications                     45760 non-null  int64
 41  first_review_year                             35297 non-null  float64
 42  last_review_year                              35297 non-null  float64
 43  host_experience                               45760 non-null  int64
 44  hotel_room_revenue                            45760 non-null  float64
dtypes: float64(24), int64(20), object(1)
memory usage: 16.1+ MB

In [767]:
# Group by hosts across columns
listings3 = (
    listings2.groupby(["host_id", "state"])
    .agg(
        {
            "host_response_time": "mean", # min
            "host_response_rate": "mean", # max
            "host_acceptance_rate": "mean", # max
            "host_is_superhost": "max",
            "host_total_listings_count": "mean",
            "host_has_profile_pic": "max",
            "host_identity_verified": "max",
            "room_type": "min", # get the best value
            "accommodates": "mean",
            "bathrooms_number": "mean",
            "bedrooms": "mean",
            "beds": "mean",
            "price": "mean",
            "minimum_nights_avg_ntm": "mean",
            "has_availability": "max",
            "availability_30": "mean", 
            "availability_60": "mean",
            "availability_90": "mean",
            "availability_365": "mean",
            "number_of_reviews": "mean",
            "number_of_reviews_ltm": "mean", # mean
            "number_of_reviews_l30d": "mean",
            "review_scores_rating": "mean",
            "review_scores_accuracy": "mean",
            "review_scores_cleanliness": "mean",
            "review_scores_checkin": "mean",
            "review_scores_communication": "mean",
            "review_scores_location": "mean",
            "review_scores_value": "mean",
            "instant_bookable": "max",
            "calculated_host_listings_count": "mean",
            "calculated_host_listings_count_entire_homes": "mean",
            "calculated_host_listings_count_private_rooms": "mean",
            "calculated_host_listings_count_shared_rooms": "mean",
            "reviews_per_month": "mean",
            "essentials": "max",
            "other_amenities": "mean",
            "total_bookings_last_year": "mean", # sum
            "number_host_verifications": "max",
            "first_review_year": "min",
            "last_review_year": "max",
            "host_experience": "mean",
            "hotel_room_revenue" : "sum"
        }
    )
    .reset_index()
)

In [775]:
listings3.shape

(23754, 45)

Verifying if aggregation is proceeded as expected

In [ ]:
listings3.isna().sum()

host_id                                            0
state                                              0
host_response_time                              8483
host_response_rate                              8483
host_acceptance_rate                            7910
host_is_superhost                                  0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
room_type                                          0
accommodates                                       0
bathrooms_number                                   0
bedrooms                                        1893
beds                                             871
price                                              0
minimum_nights_avg_ntm                             0
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                            4643
review_scores_accuracy                          4951
review_scores_cleanliness                       4950
review_scores_checkin                           4956
review_scores_communication                     4951
review_scores_location                          4959
review_scores_value                             4961
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               4643
essentials                                         0
other_amenities                                    0
total_bookings_last_year                           0
number_host_verifications                          0
first_review_year                               4643
last_review_year                                4643
host_experience                                    0
hotel_room_revenue                                 0
dtype: int64

Verifying if aggregation is proceeded as expected

In [768]:
def allNanThenTrue (se:pd.Series) -> bool:
    if np.sum(se.isna()) == len(se):
        return True
    else: 
        return False

In [776]:
np.sum(listings2[['host_id', 'state', 'review_scores_rating']].groupby(['host_id', 'state']).agg({"review_scores_rating": allNanThenTrue}))

review_scores_rating    4643
dtype: int64

The above match what we suspect Nan comes from: the (host_id, state) group with all records are nan on the aggregated columns

In [778]:
listings3.dropna(inplace = True)
listings3.shape

(11736, 45)

In [155]:
# Change datatypes to appropriate types
listings3['host_response_rate'] = listings3['host_response_rate'].astype('int')
listings3['host_acceptance_rate'] = listings3['host_acceptance_rate'].astype('int')
listings3['bedrooms'] = listings3['bedrooms'].astype('int')
listings3['beds'] = listings3['beds'].astype('int')
listings3['state'] = listings3['state'].astype('str')
listings3['host_response_time'] = listings3['host_response_time'].astype('category')
listings3['host_is_superhost'] = listings3['host_is_superhost'].astype('category')
listings3['host_has_profile_pic'] = listings3['host_has_profile_pic'].astype('category')
listings3['host_identity_verified'] = listings3['host_identity_verified'].astype('category')
listings3['room_type'] = listings3['room_type'].astype('category')
listings3['essentials'] = listings3['essentials'].astype('category')
listings3['other_amenities'] = listings3['other_amenities'].astype('int')
listings3['has_availability'] = listings3['has_availability'].astype('category')
listings3['instant_bookable'] = listings3['instant_bookable'].astype('category')
listings3['hotel_room_revenue'] = listings3['hotel_room_revenue'].astype('float')

In [156]:
listings3

,host_id,state,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,room_type,accommodates,...,number_of_reviews_ltm,review_scores_rating,instant_bookable,calculated_host_listings_count,reviews_per_month,essentials,other_amenities,hotel_room_revenue,host_experience,total_bookings
0,3008,California,1,100,100,1,1,1,2,1.00,...,6.00,4.815,1,3.0,0.860,1,39,54089.552239,4829.00,17.910448
1,3041,California,0,100,37,1,1,1,2,1.00,...,0.00,4.680,0,2.0,0.350,1,17,0.000000,4828.00,0.000000
2,6829,California,1,100,54,0,1,1,0,6.00,...,0.00,4.645,0,2.0,1.215,1,22,0.000000,4707.50,0.000000
3,7830,California,1,100,71,1,1,1,2,2.00,...,11.00,4.870,0,1.0,1.480,1,24,2134.328358,4681.00,16.417910
4,9171,California,1,100,82,1,1,1,0,1.25,...,1.75,4.750,0,4.0,3.500,1,27,19925.373134,4659.75,10.447761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12579,434676464,Florida,0,100,100,0,0,1,0,10.00,...,1.00,5.000,0,1.0,1.000,1,44,746.268657,20.00,1.492537
12580,434963038,Florida,0,100,100,0,0,1,0,16.00,...,3.00,5.000,1,1.0,3.000,1,23,4473.134328,18.00,4.477612
12581,435330041,Florida,0,100,100,0,0,0,0,10.00,...,1.00,5.000,1,1.0,1.000,0,45,820.895522,16.00,1.492537
12582,435871016,Florida,0,100,100,0,1,0,0,9.00,...,2.00,5.000,1,2.0,2.000,1,61,22925.373134,11.00,5.970149
12583,436063395,Florida,0,100,100,0,1,0,0,8.00,...,1.00,5.000,1,1.0,1.000,1,67,4033.582090,10.00,1.492537

In [157]:
# Writing Final Data frame to CSV
path_res = Path(PARENT).parent / "../20_intermediate_files"
listings3.to_csv(path_res/'final_listings.csv')

In [158]:
# Writing Final Data frame to Pickle file
path_res = Path(PARENT).parent / "../20_intermediate_files"
listings3.to_pickle(path_res/'final_listings.pkl')